@model IEnumerable<CPR.Models.Domain.Chamado>
@{
    ViewData["Title"] = "Chamados";
    var registrosOrdenados = Model.OrderByDescending(c => c.Data.Date + c.Hora).ToList();
}
<div style="padding:40px" id="container" class="justify-content-between">
    <div>
        <h1 class="text-center mb-3">Chamados</h1>
        <div class="mb-4" style="display:flex;justify-content:space-between">
            <div>
                @* <a type="button" asp-controller="Cliente" asp-action="Index" class="btn btn-outline-dark">Clientes</a> *@
                <a type="button" asp-controller="Chamado" asp-action="ChamadoIndex" class="btn btn-outline-dark">Chamados</a>
            </div>
            <div style="display:flex">
                <input type="text" id="Pesquisa" class="form-control" placeholder="Buscar">
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Hora</th>
                <th>Cliente</th>
                <th>Descrição</th>
                <th>Contrato</th>
                <th>Urgência</th>
                <th>Status</th>
                <th style="width:75px">Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in registrosOrdenados)
            {
                <tr class="chamado-row">
                    <td>@item.Data.ToShortDateString()</td>
                    <td>@item.Hora</td>
                    <td>@item.Cliente</td>
                    <td>@item.Descricao</td>
                    <td>@item.Contrato</td>
                    <td>@item.Urgencia</td>
                    <td>@item.Status</td>
                    <td style="width:1px">
                        <a onClick="ModalDeletarChamado(@item.Id)">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/RegistroScript.js"></script>