@model IEnumerable<CPR.Models.Domain.Cliente>
@{
    ViewData["Title"] = "Clientes";
}

<div style="padding:40px" id="container" class="justify-content-between">
    <div>
        <h1 class="text-center mb-3">Clientes</h1>
        <div class="mb-4" style="display:flex;justify-content:space-between">
            <div>
                <a class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalCriarCliente">Cadastrar cliente</a>
                <a type="button" asp-controller="Chamado" asp-action="Index" class="btn btn-outline-dark">Chamados</a>
            </div>
            <div style="display:flex">
                <input type="text" id="Pesquisa" class="form-control" placeholder="Buscar">
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Razão Social</th>
                <th>Fantasia</th>
                <th>CNPJ</th>
                <th>Endereço</th>
                <th>CPF</th>
                <th>Inscrição Estadual</th>
                <th>Telefone</th>
                <th>Contrato?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <td>@cliente.Id</td>
                    <td>@cliente.RazaoSocial</td>
                    <td>@cliente.Fantasia</td>
                    <td>@cliente.CNPJ</td>
                    <td>@cliente.Endereco</td>
                    <td>@cliente.CPF</td>
                    <td>@cliente.InscricaoEstadual</td>
                    <td>@cliente.Telefone</td>
                    <td>@cliente.Contrato</td>
                    <td style="width:55px">
                        <a data-bs-toggle="modal" data-bs-target="#modalEditarCliente">
                            <i class="bi-pencil-square"></i>
                        </a>
                        <a data-bs-toggle="modal" data-bs-target="#modalDelete">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>
@*<partial name="~/Views/Shared/Delete.cshtml" />
<partial name="~/Views/Cliente/Modal/EditarCliente.cshtml" />
<partial name="~/Views/Cliente/Modal/CriarCliente.cshtml" />*@