@model IEnumerable<CPR.Models.Domain.Chamado>
@{
    ViewData["Title"] = "Chamados";
    var chamadosOrdenados = Model.OrderByDescending(c => c.Data.Date + c.Hora).ToList();
}
<div id="container" class="container">
    <div>
        <div class="mb-4" style="display:flex;justify-content:space-between">
            <div>
                <a class="btn btn-outline-dark" id="btn-CriarChamado" onclick="ModalCriarChamado()">Criar um chamado</a>
                <a type="button" asp-controller="Chamado" asp-action="RegistroIndex" class="btn btn-outline-dark">Registros</a>
            </div>
            <div>
                <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="mainDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Relatórios
                    </button>
                    <div class="dropdown-menu" aria-labelledby="mainDropdown">
                        <div class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Relatório em PDF</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" onclick="generateReportPDF('data')">Relatório por Data</a>
                                <a class="dropdown-item" href="#" onclick="generateReportPDF('status')">Relatório por Status</a>
                                <a class="dropdown-item" href="#" onclick="generateReportPDF('contrato')">Relatório por Contratos</a>
                                <a class="dropdown-item" href="#" onclick="generateReportPDF('urgencia')">Relatório por Urgência</a>
                            </div>
                        </div>
                        <div class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Relatório em Excel</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" onclick="generateReportExcel('data')">Relatório por Data</a>
                                <a class="dropdown-item" href="#" onclick="generateReportExcel('status')">Relatório por Status</a>
                                <a class="dropdown-item" href="#" onclick="generateReportExcel('contrato')">Relatório por Contratos</a>
                                <a class="dropdown-item" href="#" onclick="generateReportExcel('urgencia')">Relatório por Urgência</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a class="refresh" id="refresh" onclick="refreshPage()">
                    <img src="~/img/refresh.png" style="width:45px" />
                </a>
            </div>
            <div style="display:flex">
                <input type="text" id="searchBarChamado" style="height:40px;width:200px" class="form-control search" placeholder="Buscar" onkeydown="EnterChamado(event)">
                <input type="date" id="start-date" style="height:40px;width:150px" class="form-control search" placeholder="Data Inicial">
                <input type="date" id="end-date" style="height:40px;width:150px" class="form-control search" placeholder="Data Final">
                <a id="searchIconChamados" onclick="searchIconChamados()">
                    <img src="~/img/Pesquisa.png" style="width:25px;margin-top:5px;margin-left:5px" />
                </a>
            </div>
        </div>
    </div>
    <table class="table chamadosTable table-hover" id="chamadosTable">
        <thead>
            <tr>
                <th onclick="sortTableChamados(0)">Data</th>
                <th onclick="sortTableChamados(1)">Hora</th>
                <th onclick="sortTableChamados(2)">Cliente</th>
                <th onclick="sortTableChamados(3)">Descrição</th>
                <th onclick="sortTableChamados(4)">Contrato</th>
                <th onclick="sortTableChamados(5)">Urgência</th>
                <th onclick="sortTableChamados(6)">Status</th>
                <th style="width:75px">Opções</th>
            </tr>
        </thead>
        <tbody id="chamados-list" class="chamados-list" onload="sortTableChamados(0)">
            @foreach (var item in chamadosOrdenados.Where(x => x.Status == "Pendente"))
            {
                <tr class="chamado-row">
                    <td>@item.Data.ToShortDateString()</td>
                    <td>@item.Hora</td>
                    <td>@item.Cliente</td>
                    <td>@item.Descricao</td>
                    <td class="@(item.Contrato == "Sim" ? "text-primary" : "")">
                        @item.Contrato
                    </td>
                    <td class="@(item.Urgencia  == "Alta" ? "text-danger" : item.Urgencia == "Média" ? "text-warning" : item.Urgencia == "Baixa" ? "text-success" : "")">
                        @item.Urgencia
                    </td>
                    <td>@item.Status</td>
                    <td>
                        <a onClick="ChamadoConcluido(@item.Id)">
                            <img src="~/img/concluir.png" style="width:20px" />
                        </a>
                        <a onClick="ModalEditarChamado(@item.Id)">
                            <img src="~/img/editar.png" style="width:20px" />
                        </a>
                        <a onClick="ModalDeletarChamado(@item.Id)">
                            <img src="~/img/excluir.png" style="width:20px" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/ChamadoScript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.18/signalr.min.js"></script>
