@model IEnumerable<CPR.Models.Domain.Chamado>
@{
    ViewData["Title"] = "Registros";
    var registrosOrdenados = Model.OrderByDescending(c => c.Data.Date + c.Hora).ToList();
}
<div id="container" class="container">
    <div>
        <div class="mb-4" style="display:flex;justify-content:space-between">
            <div>
                @* <a type="button" asp-controller="Cliente" asp-action="Index" class="btn btn-outline-dark">Clientes</a> *@
                <a type="button" asp-controller="Chamado" asp-action="ChamadoIndex" class="btn btn-outline-dark">Chamados</a>
                <a id="refresh" onclick="refreshPage()">
                    <img src="~/img/refresh.png" style="width:45px" />
                </a>
            </div>
            <div style="display:flex">
                <input type="text" id="searchBarRegistro" style="height:40px;width:200px" class="form-control search" placeholder="Buscar" onkeydown="EnterRegistro(event)">
                <input type="date" id="start-date" style="height:40px;width:150px" class="form-control search" placeholder="Data Inicial" onkeydown="EnterRegistro(event)">
                <input type="date" id="end-date" style="height:40px;width:150px" class="form-control search" placeholder="Data Final" onkeydown="EnterRegistro(event)">
                <a id="searchIconRegistros" onclick="searchIconRegistros()">
                    <img src="~/img/Pesquisa.png" style="width:25px;margin-top:5px;margin-left:5px" />
                </a>
            </div>
        </div>
    </div>
    <table class="table registrosTable" id="registrosTable">
        <thead>
            <tr>
                <th onclick="sortTableRegistros(0)">Data</th>
                <th onclick="sortTableRegistros(1)">Hora</th>
                <th onclick="sortTableRegistros(2)">Cliente</th>
                <th onclick="sortTableRegistros(3)">Descrição</th>
                <th onclick="sortTableRegistros(4)">Contrato</th>
                <th onclick="sortTableRegistros(5)">Urgência</th>
                <th onclick="sortTableRegistros(6)">Status</th>
                <th style="width:75px">Opções</th>
            </tr>
        </thead>
        <tbody class="registros-list" id="registros-list" onload="sortTableRegistros(0)">
            @foreach (var item in registrosOrdenados.Where(x => x.Status == "Concluído"))
            {
                <tr class="registro-row">
                    <td>@item.Data.ToShortDateString()</td>
                    <td>@item.Hora</td>
                    <td>@item.Cliente</td>
                    <td>@item.Descricao</td>
                    <td class="@(item.Contrato == "Sim" ? "text-primary" : "")">
                        @item.Contrato
                    </td>
                    <td class="@(item.Urgencia  == "Alta" ? "text-danger" : item.Urgencia == "Média" ? "text-warning" : item.Urgencia == "Baixa" ? "text-success" : "")">
                        @item.Urgencia
                    </td>
                    <td class="@(item.Status == "Concluído" ? "text-success" : "")">
                        @item.Status
                    </td>
                    <td style="width:1px">
                        <a onClick="ModalDeletarChamado(@item.Id)">
                            <img src="~/img/excluir.png" style="width:20px" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/RegistroScript.js"></script>