@model IEnumerable<CPR.Models.Domain.Chamado>

@{
    ViewData["Title"] = "Relatório de Chamados";
}

<div style="padding:40px" id="container" class="justify-content-between">
    <div>
        <h1 class="text-center mb-5">Relatório de Chamados</h1>
        <div class="mb-4" style="display:flex;justify-content:space-between">
            <div>
                <a class="btn btn-outline-dark" href="@Url.Action("ChamadoIndex", "Chamado")">Voltar</a>
            </div>
            <div style="display:flex">
                <input type="date" id="start-date" style="height:40px;width:150px" class="form-control search" placeholder="Data Inicial">
                <input type="date" id="end-date" style="height:40px;width:150px" class="form-control search" placeholder="Data Final">
                <input type="text" id="cliente" style="height:40px;width:200px" class="form-control search" placeholder="Cliente">
                <input type="text" id="status" style="height:40px;width:200px" class="form-control search" placeholder="Status">
                <a id="searchIconReport" onclick="searchReport()">
                    <img src="~/img/Pesquisa.png" style="width:25px;margin-top:5px;margin-left:5px" />
                </a>
            </div>
        </div>
    </div>
    <table class="table" id="reportTable">
        <thead>
            <tr>
                <th>Data</th>
                <th>Hora</th>
                <th>Cliente</th>
                <th>Descrição</th>
                <th>Contrato</th>
                <th>Urgência</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="report-list">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Data.ToShortDateString()</td>
                    <td>@item.Hora</td>
                    <td>@item.Cliente</td>
                    <td>@item.Descricao</td>
                    <td>@item.Contrato</td>
                    <td>@item.Urgencia</td>
                    <td>@item.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>